:root {
    --main_width: min(100%, 2000px);
    --input_width: clamp(10em, 35vw, 33em);
    --equal_sign_width: calc(var(--fs_medium) * 1.5);
    --theme_svg_width: clamp(1.25em, 2.2vmin, 1.5em);

    --nav_padding: clamp(0.9em, 1.2vmin, 1.1em) clamp(1em, 4vmin, 1.5em);
    --theme_button_padding: clamp(1.35em, 2.5vmin, 1.4em);
    --selectors_padding: clamp(0.8em, 2.2vmin, 1.1em) clamp(1.2em, 3vmin, 1.8em);
    --input_padding: clamp(1.2em, 3vmin, 1.8em) clamp(0.5em, 1.5vmin, 1em);
    --ac_button_padding: clamp(0.8em, 2.2vmin, 1.1em) clamp(1.2em, 3vmin, 1.8em);
    --formula_padding: clamp(0.3em, 0.5vmin, 0.5em) clamp(0.8em, 1vmin, 1.1em);
    
}

.unit_converter_app {
    position: relative; 
    padding-inline: 0.8em;
}

.conversion_category_selector,
.units_selector {
    font-family: var(--ff_regular);
    font-size: var(--fs_normal);
    color: var(--clr_txt); 
    padding: var(--selectors_padding); 
    cursor: pointer;  
    border: none;
    border-radius: 10em;
    appearance: none;
    width: 100%;
    background-color: var(--clr_sub_main);

    transition: 
        color var(--transition_fast),
        background-color var(--transition_fast);
    
    & > option { background-color: var(--clr_sub_main); }
}

.units_selector_section,
.input_output_section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: var(--input_width) var(--equal_sign_width) var(--input_width);
}

.equal_sign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equal_sign > svg {
    width: 60%;
    stroke: var(--clr_txt); 
    stroke-width: 0.4em;

    transition: stroke var(--transition_fast);
}

.input_output_wrapper {
    position: relative;
}

.input_output_wrapper::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 0.2em;
    border-radius: 10em;
    background-color: var(--clr_sub_main);

    transition: background-color var(--transition_fast);
}

.input_box,
.output_box {
    width: 100%;
    font-family: var(--ff_bold);
    font-size: var(--fs_medium);
    color: var(--clr_txt);
    padding: var(--input_padding);
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    transition: 
        color var(--transition_fast);
}

.input_output_wrapper:has(:is(.input_box, .output_box):focus-visible)::after {
    background-color: var(--clr_main);
}

:is(.input_box, .output_box)::placeholder { color: var(--clr_sub); }
:is(.input_box, .output_box):focus-visible::placeholder { color: transparent; }


.units_selector_section { display: none; }
.units_selector_section.active_category { display: grid; }


.conversion_category_selector_wrapper {
    position: relative;
    margin-bottom: var(--fs_medium);
}

.units_selector_wrapper {
    position: relative;
}

.units_selector_wrapper:first-child { grid-column: 1 / 2; }
.units_selector_wrapper:last-child { grid-column: 3 / -1; }

:is(.conversion_category_selector_wrapper, .units_selector_wrapper)::after {
    position: absolute;
    content: "";
    pointer-events: none;
    width: calc(var(--fs_normal) * 0.8);
    aspect-ratio: 1;
    background-color: var(--clr_txt);
    top: 50%;
    right: clamp(1.2em, 3vmin, 1.8em);
    transform: translateY(-50%);
    clip-path: polygon(50% 75%, 0 30%, 100% 30%);

    transition: background-color var(--transition_fast);
}

.formula_section {
    margin-top: var(--fs_medium);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--fs_normal);
}

.formula_icon {
    background-color: var(--clr_main);
    color: var(--clr_bg);
    font-family: var(--ff_bold);
    font-size: var(--fs_normal);
    padding: var(--formula_padding);
    border-radius: 10em;

    transition: 
        border-color var(--transition_fast),
        color var(--transition_fast),
        background-color var(--transition_fast);
    }
    
.formula_text {
    color: var(--clr_txt);
    font-family: var(--ff_regular);
    font-size: var(--fs_normal);
    
    transition: 
        border-color var(--transition_fast),
        color var(--transition_fast),
        background-color var(--transition_fast);
}

.clear_button {
    margin-top: calc(var(--fs_medium) * 2);
    width: 100%;
    background-color: var(--clr_sub_main);
    padding: var(--ac_button_padding);
    border: none;
    border-radius: 10em;
    font-family: var(--ff_bold);
    font-size: var(--fs_normal);
    color: var(--clr_main);
    cursor: pointer;

    transition:
        color var(--transition_fast),
        background-color var(--transition_fast);
}






@media (width >= 1000px) {
    :is(.conversion_category_selector, .units_selector, .clear_button, .nav_right):hover {
        background-color: var(--clr_sub_alt_main);
    }
}




@media (width <= 800px) {
    .unit_converter_app {
        width: 100%;
    }

    .units_selector_section,
    .input_output_section {
        grid-template-columns: 1fr 0.13fr 1fr;
    }
}

@media (width <= 500px) {
    main {
        padding-top: 8em;
    }

    .equal_sign > svg {
        width: 90%;
    }
}

@media (width <= 400px) {
    .nav_left {
        flex-direction: column;
    }
}

@media (height <= 500px) {
    main {
        height: auto;
    }

}