:root {
    --main_width: min(100%, 2000px);
    --input_width: 20em;
    --equal_sign_width: 2em;
}



.whole_container {
    position: relative;
    background-color: var(--clr_bg);
    width: var(--main_width);
    margin: auto;
}

main {
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-block: 2em;
}

.unit_converter_app {
    background-color: var(--clr_bg);
}

.conversion_category_selector {
    margin-bottom: 2em;
    font-family: "Inter_Regular";
    font-size: var(--fs_primary);
    font-weight: 400;
    color: var(--clr_txt);
}

.units_selector_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.units_selector {
    font-family: "Inter_Regular";
    font-size: var(--fs_primary);
    font-weight: 400;
    color: var(--clr_txt);
}

.units_selector {
    width: var(--input_width);
}

.input_output_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_output_section > input {
    width: var(--input_width);
    font-family: "Inter_Regular";
    font-size: var(--fs_primary);
    font-weight: 400;
    color: var(--clr_txt);
}

.equal_sign {
    font-family: "Inter_Regular";
    font-size: var(--fs_primary);
    font-weight: 400;
    color: var(--clr_txt);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--equal_sign_width);
}