@font-face {
    font-family: "JetBrainsMono_Regular";
    src: url("./Assets/Fonts/JetBrainsMono-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "JetBrainsMono_Medium";
    src: url("./Assets/Fonts/JetBrainsMono-Medium.woff2") format('woff2');
}

@font-face {
    font-family: "JetBrainsMono_Bold";
    src: url("./Assets/Fonts/JetBrainsMono-Bold.woff2") format('woff2');
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: var(--clr_bg);
    overflow-x: hidden;

    transition: background-color var(--transition_fast);
}


:root {
    --clr_bg: #ffffff;
    --clr_txt: #001220;
    --clr_main: #2461c2;
    --clr_sub_main: #dce5fc;
    --clr_sub_alt_main: #d0dcfa;
    --clr_sub: #bbbbbb;
    --clr_sub_alt: #e9e9e9;
    
    --fs_normal: clamp(0.8em, 1.6vmin, 1.2em);
    --fs_medium: clamp(1.3em, 3vmin, 1.8em);
    --fs_large: clamp(1.8em, 5vmin, 2.5em);

    --ff_regular: "JetBrainsMono_Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff_medium: "JetBrainsMono_Medium", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff_bold: "JetBrainsMono_Bold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --transition_fast: 200ms;
    --transition_medium: 500ms;

    --main_width: min(100%, 2000px);
    --theme_svg_width: clamp(1.25em, 2.2vmin, 1.5em);
    --theme_button_padding: clamp(1.35em, 2.5vmin, 1.4em);
    --nav_padding: clamp(0.9em, 1.2vmin, 1.1em) clamp(1em, 4vmin, 1.5em);
}

body.dark {
    --clr_bg: #0f1117;
    --clr_txt: #ffffff;
    --clr_main: #a8c7fa;
    --clr_sub_main: #2c303d;
    --clr_sub_alt_main: #3a4052;
    --clr_sub: #888888;
    --clr_sub_alt: #414141;
}





.whole_container {
    position: relative;
    width: var(--main_width);
    margin: auto;
    background-color: var(--clr_bg);

    /* For fade animation done in javascript */
    opacity: 0;
    pointer-events: none;

    transition:
        opacity var(--transition_medium),
        background-color var(--transition_fast);
}

main {
    min-height: 100vh;
    background-color: var(--clr_bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 6em 2em;
    overflow: auto;

    transition:
        background-color var(--transition_fast);
}

nav {
    position: fixed;
    width: 100%;
    margin: auto;
    inset: 0 0 auto 0;
    width: var(--main_width);
    z-index: 9999;
    background-color: var(--clr_bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    padding: var(--nav_padding);
    border-bottom: solid 0.1em var(--clr_sub_alt);

    /* For fade animation done in javascript */
    opacity: 0;
    pointer-events: none;

    transition:
        opacity var(--transition_medium),
        border-color var(--transition_fast),
        background-color var(--transition_fast);
}

.nav_left {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
}

.nav_left li {
    list-style: none;
}

.nav_left li a {
    text-decoration: none;
    color: var(--clr_txt);
    font-size: var(--fs_normal);
    padding: 0.3em 0.8em;
    border-radius: 5em;
    text-align: center;

    transition:
        color var(--transition_fast),
        background-color var(--transition_fast);
}

.nav_left li a:not(.active_nav) {
    font-family: var(--ff_regular);
}

.nav_left li a.active_nav {
    font-family: var(--ff_bold);
    background-color: var(--clr_sub_main);
}

.nav_left li a:not(.active_nav):hover {
    background-color: var(--clr_sub_alt);
}

.nav_right {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr_sub_main);
    padding: var(--theme_button_padding);
    width: calc(var(--fs_normal) * 2.8);
    border-radius: 10em;
    aspect-ratio: 1;

    transition: background-color var(--transition_fast);
}

.nav_right > svg {
    fill: var(--clr_txt);
    stroke: var(--clr_txt);
    stroke-width: 0.5em;
    stroke-linecap: round;
    aspect-ratio: 1;
    position: absolute;
    width: var(--theme_svg_width);

    opacity: 0;

    transition:
        rotate var(--transition_medium),
        opacity var(--transition_fast),
        fill var(--transition_fast);
}


/* Change the theme logo based on the theme */
body:not(.dark) .light_svg {
    opacity: 1;
    rotate: -360deg;
}

body.dark .dark_svg {
    opacity: 1;
    rotate: 360deg;
}




@media (width <=400px) {
    .nav_left {
        flex-direction: column;
    }
}