@font-face {
    font-family: "JetBrainsMono_Regular";
    src: url("./Assets/Fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrainsMono_Medium";
    src: url("./Assets/Fonts/JetBrainsMono-Medium.woff2");
}

@font-face {
    font-family: "JetBrainsMono_Bold";
    src: url("./Assets/Fonts/JetBrainsMono-Bold.woff2");
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: var(--clr_bg);
    overflow-x: hidden;

    transition: background-color var(--transition_fast);
}


:root {
    --clr_bg: #ffffff;
    --clr_txt: #001220;
    --clr_main: #2461c2;
    --clr_sub_main: #dce5fc;
    --clr_sub_alt_main: #d0dcfa;
    --clr_sub: #bbbbbb;
    --clr_sub_alt: #e9e9e9;
    
    --fs_normal: clamp(0.8em, 1.5vmin, 1.2em);
    --fs_medium: clamp(1.3em, 3vmin, 1.8em);

    --ff_regular: "JetBrainsMono_Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff_medium: "JetBrainsMono_Medium", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff_bold: "JetBrainsMono_Bold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --transition_fast: 200ms;
    --transition_medium: 500ms;
}

body.dark {
    --clr_bg: #0f1117;
    --clr_txt: #ffffff;
    --clr_main: #a8c7fa;
    --clr_sub_main: #2c303d;
    --clr_sub_alt_main: #3a4052;
    --clr_sub: #888888;
    --clr_sub_alt: #414141;
}







