:root {

}


.calculator_app {
    position: relative;
    padding-inline: 0.8em;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 0.3em;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: minmax(3em, auto) repeat(6, auto);
}

.calculator_app > button {
    border: none;
    background-color: var(--clr_sub_main);
    height: 3.3em;
    aspect-ratio: 19 / 9;
    padding: 0.5em 1em;
    border-radius: 90em;
    font-family: var(--ff_regular);
    font-size: var(--fs_normal);
    color: var(--clr_txt);
    cursor: pointer;

    transition:
        color var(--transition_fast),
        background-color var(--transition_fast);
}

.calculator_app > button:hover {
    background-color: var(--clr_sub_alt_main);
}

.calculator_app > button:active {
    background-color: var(--clr_sub_alt);
}

.equal {
    background-color: var(--clr_main);
}

.span2 {
    grid-column: 1 / 3;
}