:root {
    --button_height: clamp(2.5em, 5.5vmin, 4.5em);
    --button_ratio: 19 / 9;
    --button_font_size: calc(var(--fs_normal) * 1.15);
    --button_offset: calc(var(--button_height) * 0.05);
}

.calculator_app {
    position: relative;
    padding-inline: 0.8em;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: calc(var(--button_height) * 0.1);
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
}

.calculator_app button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--clr_sub_main);
    border-radius: 99em;
    height: var(--button_height);
    aspect-ratio: var(--button_ratio);
    padding: 0.8em;
    cursor: pointer;
    font-family: var(--ff_medium);
    font-size: var(--button_font_size);
    color: var(--clr_txt);

    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition_fast);
}

.calculator_app button[data-ac] {
    grid-column: span 2;
    width: 100%;
}

.calculator_app button svg {
    fill: var(--clr_txt);
    width: calc(var(--button_font_size) * 1.1);

    transition: fill var(--transition_fast);
}

.calculator_app button[value="="] {
    background-color: var(--clr_main);
    color: var(--clr_bg);
}

.calculator_app button[data-number] {
    background-color: var(--clr_sub_alt);
}

.calculator_app button:hover {
    box-shadow: 0 var(--button_offset) var(--clr_txt);
}

.calculator_app button:active {
    transform: translateY(var(--button_offset));
}

.output {
    grid-column: 1 / -1;
    background-color: transparent;
    border: solid var(--clr_sub) 0.1em;
    border-radius: var(--button_font_size);
    padding: var(--button_font_size);
    margin-bottom: var(--button_font_size);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    min-height: calc(2.2 * var(--button_height) + var(--button_font_size));
    word-wrap: break-word;

    transition: color var(--transition_fast), border-color var(--transition_fast), background-color var(--transition_fast);
}

.output .previous {
    font-family: var(--ff_regular);
    font-size: calc(var(--button_font_size) * 0.9);
    color: var(--clr_txt);
    line-height: 2;
    transition: color var(--transition_fast);
}

.output .current {
    font-family: var(--ff_bold);
    font-size: calc(var(--button_font_size) * 3);
    color: var(--clr_txt);
    line-height: 1;
    transition: color var(--transition_fast);
}
